<!-- <div class="info-window mapboxgl-popup">
  <div class="mapboxgl-popup-content">
    <#% rank = 3 - @selected_spots.index(spot) %>
    <h2><#%= rank %></h2>
    <p>match rate: <##%= link_to "#{spot.name}", spot_path(spot, start_time: @start_time, travel_time: @travel_time, address: @address), class: 'navbar-wagon-link'%></h3>
    <p><%= spot.address %></p>
  </div>
</div>
 -->
