<div class="info-window mapboxgl-popup">
  <div class="mapboxgl-popup-content">
    <% rank = 3 - @selected_spots.index(spot) %>
    <h2><%= rank %></h2>
    <p>match rate: <%= @matching_rates[3-rank][1] %></p>
    <h3><%= link_to "#{spot.name}", spot_path(spot, start_time: params[:search][:start_time], travel_time: params[:search][:travel_time], address: params[:search][:address]), class: 'navbar-wagon-link'%></h3>
    <p><%= spot.address %></p>
  </div>
</div>
