<div class="index-search">
  <%= render 'shared/searchbar'%>
</div>
<div class="main-container">
  <div class="map-container index-map">
    <!-- <#%= render 'shared/map', markers: @markers%> -->
  </div>
  <div class="card-container">
    <%= render 'shared/card', spot: Spot.last%>
    <%= render 'shared/card', spot: Spot.first%>
    <%= render 'shared/card', spot: Spot.last%>
  </div>
</div>


      <!-- <#%= render 'shared/card_new', spot: Spot.last %> -->
            <!-- <#%= render 'shared/card_new', spot: Spot.last %> -->

