<div class="new_main-container">
  <div class="new_map-container" >
    <%= render 'shared/map', markers: @markers%>
  </div>
  <div class="new_cards-container">
    <div class="intro">
      <h2><%= "Hey #{current_user.pseudo} !" %></h2>
      <p>These are the top spots we selected for you according to your level and needs.</p>
    </div>
    <div class="new_search_bar">
      <%= render 'shared/searchbar_flat_index', address: @address, start_time: @start_time, travel_time: @travel_time, level: @level %>
    </div>
    <% @selected_spots.each do |spot| %>
      <%= render 'shared/card_new', spot: spot, start_time: @start_time, travel_time: @travel_time, address: @address, preferred_spots: @preferred_spots, rating_tide: @rating_tide["#{spot.id}"], rating_wave_msw: @rating_wave_msw["#{spot.id}"], rating_spot_difficulty: @rating_spot_difficulty["#{spot.id}"], rating_swell: @rating_swell["#{spot.id}"], overall_rating: @overall_rating["#{spot.id}"], hour: @hour, date: @date %>
    <% end %>
  </div>
</div>
