// Define variables for your color scheme

// For example:
$white: #FFFFFF;
$red: #da552f;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #26DE81;
$gray: #616668;
$light-gray: #E6E6E6;
$dark-gray: rgb(60,60,60);
$dark-gray: #070707;
