.error_page {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: $light-gray;
  img {
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
  .error_content {
    position: absolute;
    top: 30vh;
    left: 30vw;
  }
}
