 .main-container {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
 }

 .map-container {
  max-width: 648px;
  flex: 10;
  margin-top: 10px;
 }

.card-container {
  padding-left: 20px;
  flex: auto;
 }


 #map {
  flex: 0 0 800px;
  height: 100vh !important;
  position: sticky !important;
  top: 75px !important;
  margin-left: 10px;
 }

.search-summary {
  text-align: center;
  margin-top: 120px;
  margin-bottom: 50px;
}

.search-summary h1 {
  font-size: 30px;
  color: $green;
}
