.search_bar {
  margin-top: 80px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.main-container {
  margin-top: 15px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $white;
  .map-container {
    min-width: 200px;
    flex: 0 1 auto;
    z-index: 0;
    #map {
      width: 600px;
      height: 100vh !important;
      position: sticky !important;
      top: 75px !important;
    }
  }
  .cards-container {
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100vh;
    margin: 0px;
    position: relative;
    z-index: 1;
  }
}


.new_main-container {
  margin-top: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $white;
  width: 100vw;
  .new_map-container {
    flex: 0 1 auto;
    z-index: 2;
    #map {
      width: 50vw;
      height: 100vh !important;
      position: sticky !important;
      top: 0px !important;
    }
  }
  .new_cards-container {
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    margin: 0px;
    position: relative;
    z-index: 1;
    .intro {
      align-items: center;
      justify-content: center;
      width: 450px;
      margin-top: 70px;
      padding-left: 20px;
      padding-right: 20px;
      h2 {
        font-family: 'Tahu', sans-serif;
        color: $gray;
        font-size: 70px;
      }
      p {
        font-size: 20px;
      }
    }
    .new_search_bar {
      margin-top: 30px;
      width: 50vw;
    }
  }
}

.when-search {
  background-color: $green;
  height: 250px;
  width: 500px;
  padding: 2px 30px 10px 45px;
  border-radius: 20px;
  position: absolute;
  top: 300px;
  right: 100px;
  z-index: 2;
  h3 {
    // vertical-align: middle;
    // text-align: center;
    font-size: 24px;
    color: $white;
    opacity: .9;
  }
  h3 strong {
    font-size: 32px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 5px;
  }
  .form-control {
    height: 60px;
    padding: 0px 15px;
    font-size: 24px;
    font-weight: bold;
    width: 300px;
    color: $dark-gray;
    border-radius: 8px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }
  .form-flat-search.datepicker {
    position: relative;
  }
  .datepicker-icon {
    position: absolute;
    z-index: 1;
    right: 165px;
    top: 95px;
    opacity: 1;
    color: $green;
    font-size: 30px;
  }
  .btn-flat-style-index {
    background-color: $white;
    color: $dark-gray;
    height: 50px;
    width: 200px;
    margin-left: 100px;
    font-size: 24px;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    border: solid 1px $lighter-gray;
    &:hover {
      color: $green;
      opacity: 0.93;
      font-weight: bold;
    }
  }
  .ap-input-icon svg {
    width: 30px;
    height: 30px;
    fill: #26DE81;
  }
}


@media only screen
and (max-width : 800px) {

  .new_map-container {
    display: none;
  }

  .new_cards-container {
    width: 100vw;
    .new_search_bar {
      width: 100vw;
    }

  }
  .new_card-container {
       width: 100vw;
  }
}


