
.new_main-container-show {
  margin-top: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $white;
  width: 100vw;
  position: relative;
}

.new_map-container-show {
  flex: 0 1 auto;
  position: sticky !important;
  top: 0px !important;
  z-index: 0;
  #map_show {
    width: 50vw;
    height: 50vh !important;
    position: relative;
    .btn-create-show-map {
      width: 150px;
      background-color: $blue-google;
      height: 50px;
      font-size: 16px;
      position: fixed;
      bottom: 40vh;
      left: 2vw;
      border-color: $blue;
      align-items: center;
      display: flex;
      justify-content: center;
      z-index: 2;
      border-radius: 8px;
      font-family: "Lato", sans-serif;
      &:hover {
        background-color: $white;
        font-weight: bold;
        color: $green;
        border: solid 3px $blue;
      }
    }
  }
  .spot_image {
    height: 50vh !important;
    width: 50vw !important;
    background-size: cover;
    background-position: center;
    border-bottom: white 2px solid;

  }
}

.content_container {
  background-color: $white;
  width: 50vw;
  justify-content: center;
  padding-left: 40px;
  padding-right: 80px;
  padding-top: 80px;
  overflow: scroll;
  h1 {
    font-family: 'Tahu', sans-serif;
    color: $gray;
    font-size: 70px;
  }
  h5 {
    font-family: 'Lato', sans-serif;
    color: gray;
  }
}

.name-spot-preferred {
  display: flex;
  align-items: center;
  h1 {
    padding-right: 30px;
  }
  .card-heart-show {
  color: $green;
  font-size: 40px;
}
}

.spot_search_date {
  margin-top: 0px;
}

.spot_rating {
  display: flex;
  border-top: solid 2px $green;
  border-bottom: solid 2px $green;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.spot_rating_donought {
  width: 40%;
  padding-right: 20px;
  .donought_size {
    width: 65%;
    height: 65%;
  }
}

.spot_rating_details {
  width: 70%;
  padding-left: 25px;
  border-left: $light-gray solid 1px;
}

.spot_details {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px $light-gray;
}

.spot_weather {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px $light-gray;
}


.weather_box {
  display: flex;
}

.weather_box_item {
  width: 50%;
}

.tide {
  border-bottom: solid 2px $green;
}

.experiences {
  padding-top: 20px;
  .number {
    display: flex;
    align-items: center;
    }
}

.btn-create-show {
    background-color: $green;
    height: 50px;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
    border-color: $green;
    z-index: 20;
    &:hover {
      background-color: $white;
      font-weight: bold;
      color: $green;
      border: solid 3px $green;
    }
  }


@media only screen
and (max-width : 800px) {
  .new_map-container-show {
    display: none;
  }
  .content_container {
    width: 100vw;
  }
}
@media only screen
and (min-width : 800px) {

  .btn-create-show {
    display: none;
  }
}


// .review_container {
//   justify-content: center;
//   border-bottom: solid 1px $light-gray;
//   padding-bottom: 24px;
//   left: 40px;
//   z-index: 3;
//   position: absolute;
// }

// .review_number {
//   width: 300px;
//   margin-top: 20px;
//   margin-bottom: 20px;
//   border-bottom: solid 1px $light-gray;
// }

// .review_photo {
//   z-index: 100;
//   width: 100%;
//   height: 400px;
//   margin-top: 40px;
//   margin-bottom: 40px;
//   position: relative;
//   background-size: cover;
//   background-position: center;
//   h5 {
//     opacity: 0;
//     color: white;
//   }
//   &:hover {
//     background-image: linear-gradient(rgba(30,30,30, 0.3) rgba(30,30,30, 0.3));
//     margin-left: -30px;
//     transition: all ease 0.5s;
//     z-index: 2;
//   }
// }

// .spot_reviews {
//   background-color: $white;
// }
