

.new_main-container-show {
  margin-top: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: $white;
  width: 100vw;
}

.new_map-container-show {
  flex: 0 1 auto;
  #map {
    width: 50vw;
    height: 100vh !important;
    position: sticky !important;
    top: 0px !important;
  }
}

.content_container {
  background-color: $white;
  width: 50vw;
  justify-content: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 45px;
}

.spot_search_date {
  margin-top: 0px;
}

.spot_rating {
  display: flex;
  border-top: solid 3px $green;
  border-bottom: solid 3px $green;
  padding-left: 20px;
}

.spot_rating_donought {
  width: 35%;
  padding-right: 10px;
}

.spot_rating_details {
  width: 70%;
}

.spot_details {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px $light-gray;
}

.spot_weather {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px $light-gray;
}

.weather_box {
  display: flex;
}

.weather_box_item {
  width: 50%;
}

.review_container {
  justify-content: center;
  padding: 44px;
  border-bottom: solid 1px $light-gray;
  padding-bottom: 24px;
  bottom: 5px;
  z-index: 3;
  position: absolute;
  top: 170vh;
}

.review_number {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px $light-gray;
}

.review_photo {
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  h5 {
    opcacity: 0;
    color: white;
  }
  &:hover {
    background-image: linear-gradient(rgba(30,30,30, 0.3) rgba(30,30,30, 0.3));
    margin-left: -30px;
    transition: all ease 0.5s;
    z-index: 2;
  }
}

@media only screen
and (max-width : 800px) {
  .new_map-container-show {
      display: none;
  }
}

// .spot_container {
//   display: flex;
//   align-items: flex-start;
//   justify-content: center;
//   flex-wrap: wrap;
//   padding: 20px;
//   position: absolute;
//   top: 42vh;
// }

// .fun_container {
//   width: 448px;
//   top: -120px;
//   justify-content: center;
//   align-items: center;
//   padding-left: 24px;
//   padding-right: 24px;
//   padding-top: 70px;
//   z-index: 1;
// }
// .spot_map {
//   width: 300px;
//   height: 300px;
//   border-radius: 50%;
//   background-position: center;
//   overflow: hidden;
//   background-size: cover;
//   margin: auto;
//   z-index: -10;
//   #map {
//     width: 300px;
//     height: 300px;
//   }
// }
// .spot_image {
//   width: 400px;
//   height: 300px;
//   margin-top: 40px;
//   margin-bottom: 40px;
//   box-shadow: 6px 6px 6px rgba(30, 30, 30, 0.4);
//   overflow: hidden;
//   position: relative;
//   background-size: cover;
//   background-position: center;
//   p {
//     position: absolute;
//     color: $white;
//     top: 5px;
//     left: 20px;
//   }
// }
// .spot_video {
//   width: 400px;
//   height: 300px;
//   margin-top: 40px;
//   margin-bottom: 40px;
//   box-shadow: 6px 6px 6px rgba(30, 30, 30, 0.4);
//   overflow: hidden;
//   position: relative;
//   p {
//     position: absolute;
//     color: $white;
//     top: -10px;
//     left: 20px;
//   }
// }


