<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">XXX</div>
        <div class="card-description">
          <h2>XXX</h2>
          <p>XXX</p>
        </div>
         <img class="card-number" src="">
         <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">XXX</div>
        <div class="card-description">
          <h2>XXX</h2>
          <p>XXX</p>
        </div>
        <img class="card-number" src="">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12">
      <div class="card last-card style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">XXX</div>
        <div class="card-description">
          <h2>XXX</h2>
          <p>XXX</p>
        </div>
        <img class="card-number" src="">
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
