
<div>
  <div id="card-number">
    <!-- <#% if current_user.preferred_spots == spot %>
      <i class="fas fa-heart"></i>
    <#% else %>
      <i class="far fa-heart"></i>
    <#% end %> -->
    <h3>1</h3>
    <p>match rate: 96%</p>
    <h2><%= link_to "#{spot.name}", spot_path(spot)%></h2>
    <p>travel time</p>
  </div>
</div>
