
<div id="card-div">
  <div id="card-number">
    <!-- <#% if current_user.preferred_spots == spot %>
      <i class="fas fa-heart"></i>
    <#% else %>
      <i class="far fa-heart"></i>
    <#% end %> -->
    <h3><%= rank %></h3>
    <p>match rate: <%= @matching_rates[3-rank][1] %></p>
    <h2><%= link_to "#{spot.name}", spot_path(spot, start_time: params[:spot][:start_time], travel_time: params[:spot][:travel_time], address: params[:spot][:address])%></h2>
    <p><%= spot.address %></p>
  </div>
</div>
