<div class="snip-image">
  <figure class="snip1360"><img src="" />
    <figcaption>
      <h2><%= spot.name %></h2>
      <p><%= spot.address %></p><%= link_to "#{spot.name}", spot_path(spot) %>
    </figcaption>
  </figure>
</div>

