<div
  id="map_show"
  data-markers="<%= markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
><%= link_to "Surf's Up !", surf_sessions_path(surf_session: {start_time: start_time, spot_id: spot}, address: address), method: 'POST', class: "btn btn-primary btn-create-show-map" %>
</div>

