<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
  <div class="card-category">EXPERIENCES</div>
  <% @spot.reviews.each do |review| %>
  <div class="card-description">
    <h2><%= review.content %></h2>
    <p><%= review.surf_session.user.pseudo  %></p>
  </div>
  <% end %>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>
