<div class="home-banner">
  <div class="container" id="flex-box">
    <%= render 'shared/searchbar' %>
   <div>
     <h1><strong>Time to surf !</strong></h1>
     <p>Find an adapted spot to your level and needs</p>
   </div>
  </div>
</div>
