<div class="home" id="home-splash">
  <%= render 'pages/where' %>
  <div class="home-video">
      <%= cl_video_tag("Wave_GoPro_3", :loop => true, :autoplay => true, class: "video", :fallback_content => "Your browser does not support HTML5 video tags") %>
    <div class="home-brand">
      <h1>Time to surf !</h1>
      <h2>Find an adapted spot to your level and needs</h2>
    </div>
  </div>
  <div class="home-map">
    <div class="carotte">
      <%= render 'shared/map', markers: @markers%>
      <i class="fas fa-caret-left close-map"></i>
    </div>
  </div>
</div>


<%#= cl_video_tag("4k_Aerial_Beach_Footage", :loop => true, :autoplay => true, class: "video", :fallback_content => "Your browser does not support HTML5 video tags") %>
