<div class="home-video">
  <div class="container" id="flex-box">
    <div>
      <h1>Time to surf !</h1>
      <p>Find an adapted spot to your level and needs</p>
    </div>
    <%= render 'shared/searchbar', needs_h3: true %>
    <%= cl_video_tag "4k_Aerial_Beach_Footage", :autoplay => true, loop: :loop, mute: :mute, class: "video" %>
  </div>
</div>
