<div class="home-banner">
  <div class="container" id="flex-box">
    <div>
      <h1>Time to surf !</h1>
      <p>Find an adapted spot to your level and needs</p>
    </div>
    <br>
    <%= render 'shared/searchbar', needs_h3: true %>
  </div>
</div>
