.btn-medium {
  color: white;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 10px;
  opacity: 0.8;
  width: 340px;
  background-color: #FF5A5F;
  font-weight: bold;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.btn-list {
  color: white;
  border-radius: 10px;
  opacity: 0.8;
  width: 100px;
  height: 38px;
  background-color: #FF5A5F;
}

.btn-list:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}

.upload-photo {
  border: #d3d3d3 solid 1px;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background-color: #FF5A5F;;
  transition: background 0.3s ease;
  width: 100%;
}

.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
