
.card-review {
  margin-top: 2px;
  margin-bottom: 2px;
  height: 200px;
  width: 100%;
  color: white;
  border-radius: 3px;
  margin-bottom: 15px;
}
.review-container {
  position: relative;
  .background-picture {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .review-weighted-average {
  display: flex;
  font-size: 15px;
  top: -2px;
  left: 13px;
  position: absolute;
  color: $green;
  }
  .card-comment {
    font-family: "Lato", sans-serif !important;
    position: absolute;
    width: 90%;
    left: 13px;
    top: 70px;
    line-height: 20;
    opacity: 0;
    p {
      color: $dark-gray;
      font-family: "Lato", sans-serif !important;
      font-size: 18px;
      font-style: normal;
      text-align: left;
    }
  }
  .avatar-large-review {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -11px;
  right: 17px;
  z-index: 1;
  }
  &:hover {
    background: $green;
    background-image: none !important;
    transition: all 0.5s ease;
    opacity: 0.8;
    .card-comment {
      opacity: 1;
      p {
      color: white !important;
      }
    }
    .review-weighted-average {
      color: white;
    }
    .background-picture {
    opacity: 0;
    }
  }
}

