.index-style {
  margin-bottom: 20px;
  text-align: left;
    .simple_form.search {
      font-size: 15px;
      color: $gray;
    }
}

// .index-style {
//   .btn-style {
//     height: 100px;
//     margin-top: 25px;
//     width: 100%;
//   }
// }






