// .simple_form.search {
//   align-items: center;
// }

// .form-group {
//   margin-right: 10px;
//   justify-content: center;
//   align-items: center;
// }

// .form-wrapper {
//   justify-content: center;
//   margin-right: 50%;
// }

#search-container {
  .btn-style {
    height: 45px;
    margin-top: 25px;
    width: 100%;
  }
}

// .label {
//   color: $white;
// }

// .form-wrapper {
//   // padding-left: 155px;
//   color: $white;
// }

// #spot_location {
//   width: 400px;
// }

